nav {
    float: left;
    max-width: 170px;
    margin: 0;
    padding: 1em;
    font-size; 3em; 
    color: blue;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: blue;
    clear: left;
    text-align: center;
}